<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBConn_qa" connectionString="mydbstring"/>
  </connectionStrings>
  <appSettings>
    <add key="HostingEnvironment" value="qa"/>
    <add key="ServerNameList_QA" value="MACBOOKPRO"/>

    <add key="MyKey_QA" value="qa value"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
