<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConn_qa" connectionString="mydbstring" />
  </connectionStrings>
  <appSettings>
    <add key="HostingEnvironment" value="qa"/>
    <add key="ServerNameList_QA" value="MACBOOKPRO"/>

    <add key="MyKey_QA" value="qa value"/>
  </appSettings>
</configuration>